@import "mixin.scss";

header{
    @include flex();
    @include size();
    justify-content: space-between;
    margin-top: 10px;

    @media #{$breakpoint-mobile}{
        display: none;
    }
}

.wrap{
    @include reset();
}

.title_area{
        @include textarea();

        @media #{$breakpoint-mobile}{
           margin-top: 20px;
    }
        .close{
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -10px;
            filter: invert(1);
        }
    }