@import "mixin.scss";

.detail_wrap {
  @include reset();
  width: 90%;
  margin-top: 20px;
  position: relative;

  .in_wrap {
    width: 50%;

    @media #{$breakpoint-mobile} {
      width: 100%;
    }
  }

  header {
    width: 100%;
    margin-top: 0;
  }

  .sub_menu {
    top: 50px;
    right: -50px;

    @media #{$breakpoint-mobile} {
      right: 0;
    }
  }

  .sub_header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    padding: 15px 0 30px 0;

    @media #{$breakpoint-mobile} {
      padding: 13px 0;
    }

    h1 {
      font-size: 40px;
      color: rgb(52, 58, 64);
      min-height: 40px;
      margin-bottom: 13px;
      letter-spacing: 1px;
    }

    .writer_wrap {
      @include flex();
      justify-content: space-between;

      .left_wrap {
        display: flex;

        .writer {
          color: rgb(73, 80, 87);
          font-weight: 500;
          margin-right: 20px;
          &:hover {
            text-decoration: underline;
          }
        }

        .date {
          color: #495057;
        }
      }

      .right_wrap {
        @include flex();
        justify-content: space-between;

        button {
          @include btn-Reset();
          color: rgb(33, 37, 41);
          font-size: 16px;
        }

        .edit {
          margin-right: 10px;
        }
      }
    }
  }

  .content_wrap {
    float: left;
    @include size();
    padding-bottom: 20px;

    .text {
      margin-top: 20px;
      font-size: 20px;

      @media #{$breakpoint-mobile} {
        margin-top: 15px;
      }
    }

    figure {
      margin-top: 20px;
      @include size();
      overflow: hidden;

      @media #{$breakpoint-mobile} {
        margin-top: 15px;
      }

      img {
        width: 100%;
      }
    }

    .comment {
      display: flex;
      @include size();
      flex-direction: column;
      margin-top: 15px;

      .favorite_wrap {
        display: flex;
        justify-content: space-between;

        @media #{$breakpoint-mobile} {
          align-items: center;
        }

        .com_title {
          color: #495057;
        }

        #favorite_check {
          display: none;
        }

        .favorite_btn {
          @include flex();
          border: 1px solid #ddd;
          box-sizing: border-box;
          padding: 5px 10px;
          border-radius: 3px;
          cursor: pointer;

          &:hover {
            background: #12b886;
            color: #fff;
            border-radius: 5px;
          }
        }
      }

      textarea {
        @include btn-Reset();
        width: 100%;
        height: 100px;
        cursor: inherit;
        resize: none;
        overflow: hidden;
        margin: 10px 0;
        border: 1px solid #dadada;
        box-sizing: border-box;
      }

      .btn {
        @include flex();
        padding: 0 15px;
        margin-left: auto;
        height: 35px;
        @include btn-Reset();
        font-size: 16px;
        background: #12b886;
        color: #fff;
      }
    }
  }
}
