@import "mixin.scss";

$color : #000;
$rgba : rgba($color, 0.05);

.main{
    @include reset();
    background: #f9f9f9c7;
    padding: 0 25px;
    box-sizing: border-box;

        .header{
            @include flex();
            @include size();
            justify-content: space-between;
            margin-top: 20px;

            a{
                display: none;
            }

        .title{
            font-size: 24px;
            font-weight: 500;
            color: #333;
        }

        .menu{
            @include flex();

        input[type="text"]{
            display: none;
        }

        .search{
            @include btn-Reset();
            margin-right: 20px;

            img{
                width: 22px;
            }
        }
        
        .profile{
            width: 30px;
            border-radius: 50%;
            margin-right: 10px;

        }

        .arrow{
            width: 10px;
            height: 5px;
        }

        }
    }

    .post_section{
        margin: 0 auto;
        background: #fff;
        margin-top: 32px;
        box-shadow: 0 4px 16px 0 $rgba; 

        .post{
            @include size();
            display: flex;
            flex-direction: column;
            background: #fff;

            .thumbnail{
                @include size();
                height: 180px;
                background: #ddd;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                overflow: hidden;

                img{
                    width: 100%;
                }
            }

            .text_wrap{
                display: flex;
                flex-direction: column;
                padding: 16px;
                height: 150px;
                box-sizing: border-box;
                position: relative;

                .post_title{
                    font-weight: 500;
                }

                .post_text{
                    font-weight: 300;
                    color: #333;
                    margin-top: 10px;
                }

                .post_date{
                    font-size: 14px;
                    color: gray;
                    position: absolute;
                    bottom: 15px;
                }
            }

            .writer_wrap{
                @include flex();
                justify-content: space-between;
                border-top: 1px solid #eee;
                box-sizing: border-box;
                padding:15px;
                .id{
                    display: flex;
                    align-items: center;

                    img{
                        width: 24px;
                        height: 24px;
                        margin-right: 10px;
                    }

                    .profile_id{
                        font-size: 12px;
                        line-height: 1;
                    }
                }

                    .favorite{
                        font-size: 12px;
                        line-height: 1;
                    }
            }
        }
    }
}