@font-face {
    font-family: "Spoqa-Hans";
    font-weight: 300;
    src: url("../fonts/SpoqaHanSansNeo-Light.woff2") format("woff2"),
    url("../fonts/SpoqaHanSansNeo-Light.woff") format("woff"),
    url("../fonts/SpoqaHanSansNeo-Light.eot") format("eot")
}

@font-face {
    font-family: "Spoqa-Hans";
    font-weight: 400;
    src: url("../fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2"),
    url("../fonts/SpoqaHanSansNeo-Regular.woff") format("woff"),
    url("../fonts/SpoqaHanSansNeo-Regular.eot") format("eot")
}

@font-face {
    font-family: "Spoqa-Hans";
    font-weight: 500;
    src: url("../fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2"),
    url("../fonts/SpoqaHanSansNeo-Medium.woff") format("woff"),
    url("../fonts/SpoqaHanSansNeo-Medium.eot") format("eot")
}

@font-face {
    font-family: "Spoqa-Hans";
    font-weight: 600;
    src: url("../fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2"),
    url("../fonts/SpoqaHanSansNeo-Bold.woff") format("woff"),
    url("../fonts/SpoqaHanSansNeo-Bold.eot") format("eot")
}


* {
    margin: 0;
    padding: 0;
    font-family: "Spoqa-Hans";
    word-break: keep-all;
}

ul,
li {
    list-style: none;
}

img {
    display: block;
    float: left;
}

a {
    text-decoration: none;
    color: #333333;
}

.app {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
}

header,
section,
footer {
    float: left;
    width: 100%;
    overflow: hidden;
}

.in_wrap {
    margin: 0 auto;
    overflow: hidden;
}
